catkin-pkg==0.4.20
cycler==0.10.0
distro==1.5.0
docutils==0.16
kiwisolver==1.2.0
matplotlib==3.2.1
numpy==1.18.4
opencv-contrib-python==4.2.0.34
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.3.1
rosdistro==0.8.1
rosinstall==0.7.8
rospkg==1.2.6
six==1.14.0
vcstools==0.1.42
wstool==0.1.17
